---
layout: archive0
---

<head>
<style>
.myDiv {
  margin-left: 22%;
  margin-right: 12%;
  text-align: left;
}
</style>
</head>
<Center>
<h1> Welcome, Friend </h1>
<img src="/docs/assets/images/Panorama.jpg" alt="" width="1280" height="600">
</Center>
<div class="myDiv">
<p>
I'm glad you've taken the time to visit my website. If you don't know by now,
my name is Logan Morrow-Wright. I live in a wonderful town in Colorado with
my wife and our many cats and dogs, and I greatly enjoy the outdoor recreation
that this beautiful state has to offer. Whether you are browsing this site as
a potential employer, family member, long time friend or complete stranger,
I hope you find the content interesting and insightful.
</P>
<Center>-<i>Logan</i></Center>
</div>
